/* .ss1{

margin-top: 6px;
margin-left: 8px;



} */

body{

    background-color: rgb(233, 229, 229);
}
/* .yu{

margin-left: 90%;


} */




/* .b1{

color: rgb(207, 206, 206);
background-color: rgb(202, 200, 200);
} */
/* .q12{

color: rgb(255, 0, 0);
background-color: rgb(255, 7, 7);


} */
.gh1{

margin-left: 7%;

display: inline-block;

}





.k9{

margin-left: 5%;


}
.o1{
 /* background-color: white; */
    display: inline;
}
.o2{
    display: inline;
}
 /* .k9{ 
    margin: 80px;
    padding: 5px;
} */

form{

display: inline-block;


}


.u1{ 
    
    background-color: rgb(255, 255, 255);
   
} 
.z1{
  background-color: rgb(255, 255, 255);
   
    /* border: 40px; */
}
.z1z1{

    margin-right: 6%;
    display: inline-block;

}
.we1{

margin-right: 7%;


}

.z2{
color: white;
background-color: white;

}
.as1{

border-radius: calc(circie);



}
.qw1{

/* margin-left: 12%; */

background-color: rgb(255, 255, 255);


}








